/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Pattaya&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Pattaya&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins';
    font-style: normal;
}

/*  Header --->  =====================================*/
.header_wrapper{
    border-bottom: 1px solid #E6E8EC;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
}

.header_nav_left_content{
    align-items: center;
    display: flex;
}
.header_nav_left_content_logo{
    margin-right: 32px;
}
.header_nav_left_content_border{
    margin-right: 32px;
}
.header_nav_left_content_discover{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-right: 32px;
}
.header_nav_right_content{
    align-items: center;
    display: flex;
}
.header_nav_right_content_input{
    border: 2px solid rgb(202, 198, 198);
    padding: 10px 16px 10px 16px;
    border-radius: 10px;
}
.header_nav_right_content_bell{
    margin-left: 35px;
}
.header_nav_right_content_upload{
    margin-left: 35px;
    padding: 12px 16px 12px 16px;
    border-radius: 90px;
    background: #3772FF;
    font-weight: 700;
    color: #ffffff;
}
.header_nav_right_content_conect{
    margin-left: 15px;
    padding: 12px 16px 12px 16px;
    border-radius: 90px;
    background: #3772FF;
    font-weight: 700;
    color: #ffffff;
}
/* <--- Header ===================================== */

/* Block =========================================== */
.block_wrapper{
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}
h5{
    margin-top: 128px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #777E91;
}
h1{
    margin-top: 8px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #23262F;
}
.block_btn{
    margin-top: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    background-color: #ffffff;
    padding: 12px 24px 16px 24px;
    border-radius: 20px;
    border: 1px solid #E6E8EC;
}

/* Block =========================================== */

/* Auction ========================================= */

.auction_wrapper{
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auction_right_content{
    margin-left: 128px;
    
}
.auction_right_content_tittle{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #23262F;
}

.auction_right_content_avatar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 310px;
}

.avatar_cole{
    border-radius: 50%;
}
.avatar_cole_description{
    margin-left: 8px;
}

.auction_right_content_avatar_left{
    display: flex;
    align-items: center;
}

.auction_right_content_avatar_right{
    display: flex;
    align-items: center;
}

.auction_right_content_avatar_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}
.auction_right_content_avatar_price{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #23262F;
}
.auction_right_content_frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 24px;
    width: 352px;
    height: 296px;
    background: #FCFCFD;
    border: 2px solid #E6E8EC;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 24px;
    text-align: center;
}
.frame_up_current{
    font-weight: 500;
    font-size: 16px;
    color: #23262F;
}
.frame_up_price{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #141416;
}
.frame_up_price_usd{ 
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #777E91;
}
.auction_right_content_frame_down{
    width: 150px;
}
.frame_down_block{ 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.frame_down_number{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #141416;
}
.auction_right_content_btn{
    margin-top: 40px;
}
.content_btn_bid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    width: 352px;
    height: 48px;
    background: #3772FF;
    border-radius: 90px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
    margin-bottom: 20px;
}
.content_btn_bid:hover{
    background: #779aec;
}

.auction_right_content_vector{
    margin-top: 50px;
}

.auction_right_content_vector_left{
    margin-right: 25px;
    margin-left: 25px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
}
.auction_right_content_vector_left:hover{
    border-color: #141416;
}
.auction_right_content_vector_right{ 
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
}
.auction_right_content_vector_right:hover{
    border-color: #141416;
}


/* Auction <========================================= */

/* Feed =========================================> */

.feed_wrapper{
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 145px;
    display: flex;
}
.feed_left_side_dflex{
    display: flex;
    justify-content: space-between;
    width: 448px;
    align-items: center;
    margin-top: 25px;
}
.jakob{
    border-radius: 15px;
}
.feed_left_side_description_left{
    display: flex;
    align-items: center;
}
.side_description{
    margin-left: 15px;
}
.left_side_description_tittle{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #23262F;
}

.left_side_description_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #353945;
}
.feed_left_side_description_right{
    text-align: center;
    margin-bottom: 5px;
}
.side_description_right_text{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    padding-bottom: 5px;
    
}
.side_description_right_price{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
    border: 2px solid #45B36B;
    padding: 3px;
    border-radius: 5px;
    margin-right: 10px;
}
.feed_right_side_1block{
    display: flex;
    margin-left: 27px;
    align-items: center;
    margin-bottom: 30px;
}
.michael{
    border-radius: 10px;
}
.feed_right_side_1block_desc{
    margin-left: 24px;
    
}
.feed_right_side_name{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.feed_right_side_1block_desc_flex{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.block_desc_img{
    border-radius: 50%;
    margin-right: 10px;
}
.feed_right_side_btn{
    padding: 8px 12px;
    gap: 12px;
    width: 98px;
    height: 32px;
    background: #3772FF;
    border-radius: 90px;
    color: #ffffff;
}
/* Feed =========================================> */